/* Responsive design */

@media (max-width: 860px) {
    .logo img {
        display: none;
    }
}

@media (max-width: 500px) {
    .social {
        flex-direction: column;
        row-gap: 0.5rem;
    }

    .landingpage {
        grid-template-columns: 1fr;

        h1,
        .tech-box {
            grid-column: span 1;
        }
    }

    .two-col-container {
        flex-direction: column;

        .column-one {
            display: none;
        }

        .column-two {
            width: 100%;
        }
    }
}
