/* Module imports */
@import '../../node_modules/normalize.css/normalize';

@import 'variables';
@import 'typography';
@import 'blockquote';
@import 'code';

/* Basic styling */
body {
    background-color: $background-color;
}

* {
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

/* Styling the header section */
.header {
    display: flex;
    justify-content: space-between;
    background-color: $background-alternative-color;
}

.site-header {
    display: flex;
    justify-content: space-between; 
}

.title-container {
    display: flex;
    align-items: center;
    margin: 0 1rem;
    margin-bottom: 1rem;
}

.logo img {
    width: 12rem;
    margin: 1rem 1rem 0 0.5rem;
}

.title {
    margin-top: 0.5rem;
    
    h1 {
        margin: 0;
    }

    p {
        margin: 0;
    }
}

.title a {
    color: $font-alternative-color;
    text-decoration: none;
}

/* Stylng navigation */

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background-navigation-color;
}

.nav ul {
    padding: 0 1rem;
    margin: 0;

    li {
        margin: 0;
    }
}

.nav-toggle {
    padding: 0;
    margin: 1.25rem 0.25rem 1.25rem 0.5rem !important;
}

.fa.fa-bars,
.fa.fa-times {
    color: $font-alternative-color;
}

.nav a {
    color: $font-alternative-color;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.active a {
    color: #ffb347 !important;
}

/* Styling the main section */
.main {
    max-width: 800px;
    min-height: calc(100vh - 205px);
    padding: 1rem 2rem;
    margin: 0 auto;
    color: $font-color;
}

/* Styling the footer section */
.footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: $background-alternative-color;
    color: $font-alternative-color;
}

.social {
    display: flex;
}

.fab.fa-github,
.fa.fa-envelope {
    margin-left: 2rem;
    color: $font-alternative-color;
    font-size: 3rem;
}

/* Import report page layout */
@import 'report';

/* Import technologies layout */
@import 'technologies';

/* Import technology layout */
@import 'technology';

/* Import respovsive styling */
@import 'responsive';
